<div class="order-summary jumbotron text-center">
    <p>
      <strong>First name:</strong>
      <%= @user.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @user.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
  <%= link_to 'Go Shopping', '/', class: "btn btn-primary"%>
</div>
