
<p>
  <strong>User:</strong>
  <%= User.find(review.user_id).first_name %>
</p>
<p>
  <strong>Rating:</strong>
  <%= review.rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= review.description %>
</p>
